@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* compiamos un css externo de googlefonts */

/* Propiedades de texto */

*{
    font-family: 'Poppins', sans-serif; /* tipo de letra */
}

.parrafo{
    font-size: 24px;/* modificar el tamaño del texto */
    color: blue;/* color */
    text-align: center; /* centrar texto como en word */
    word-spacing: 10px;
    letter-spacing: 1px;
    text-decoration: underline dotted red; /* linea roja subrayada con linea punteada */
}

.negrita{
    font-weight: 900;
}
